<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="title-container">
            <h1>Data from datatable</h1>
        </div>
        <div>
            <br>
            <input type="button" onclick="location.href='/insert';" value="Enter data" />
            <br>
            <br>
        </div>

        <div class="table-container">
            <table id="example" class="display" style="width:100%">
            
            </table>
        </div>
        </div>
          
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="app/main.js"></script>
</body>
</html>